<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <h1 class="cotainer text-center">Register User</h1>
    <div class="container">
        <form class="row g-3" (ngSubmit)="CalculateBmi()">
            <div class="col-md-6">
              <label for="first_Name" class="form-label">First Name</label>
              <input type="text" class="form-control" id="first_Name" name="first_Name" [(ngModel)]="user.first_Name">
            </div>
            <div class="col-md-6">
              <label for="last_Name" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="last_Name" name="last_Name" [(ngModel)]="user.last_Name">
            </div>
            <div class="col-md-6">
                <label for="user_Name" class="form-label">User Name</label>
                <input type="text" class="form-control" id="user_Name" name="user_Name" [(ngModel)]="user.user_Name">
              </div>
              <div class="col-md-6">
                <label for="user_Email" class="form-label">Email</label>
                <input type="email" class="form-control" id="user_Email" name="user_Email" [(ngModel)]="user.user_Email">
              </div>
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4" name="user_Password" [(ngModel)]="user.user_Password">
              </div>
              <div class="col-md-6">
                <label for="bmi" class="form-label">BMI</label>
                <input type="text" class="form-control" id="bmi" name="bmi" [(ngModel)]="user.bmi" [value]="user.bmi">
              </div>
              <div class="col-md-6">
                <label for="currentWeight" class="form-label">Current Weight</label>
                <input type="text" class="form-control" id="currentWeight" name="currentWeight" [(ngModel)]="user.currentWeight">
              </div>
              <div class="col-md-6">
                <label for="dailyPoints" class="form-label">Daily Points</label>
                <input type="text" class="form-control" id="dailyPoints" name="dailyPoints" [(ngModel)]="user.dailyPoints">
              </div>
              <div class="col-md-6">
                <label for="dob" class="form-label">Date of Birth</label>
                <input type="date" class="form-control" id="dob" name="dob" [(ngModel)]="user.dob">
              </div>
              <div class="col-md-6">
                <label for="Gender" class="form-label">Gender</label>
                <select class="form-control" id="Gender" name="gender" [(ngModel)]="user.gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>

                  </select>
                </div>
                
              <div class="col-md-6">
                <label for="heightInInches" class="form-label">Height In Inches</label>
                <input type="text" class="form-control" id="heightInInches" name="heightInInches" [(ngModel)]="user.heightInInches">
              </div>

              <div class="container text-center col-md-12">
                  <br>
               
                <button type="submit" class="btn btn-outline-primary">Register</button>
              </div>
           
          </form>
    </div>
</div>