<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/admin-dashboard">Ezcut</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin-dashboard">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/view-food-info">Food Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/view-nutritional-info">Nutrition Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/view-users">Users</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="border: none!important;">
          <li><a style="color: white;
            text-decoration: none;" (click)="logout()">Logout</a></li>
      </ul>
      </div>
    </div>
  </nav>